@model CoffeeStoreAspCore.ViewModels.System.UserViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Asset/Menu/vendor/bootstrap.css">

    <link rel="stylesheet" href="~/Asset/Menu/vendor/font-awesome.css">
    <link rel="stylesheet" href="~/Asset/trangchu/vendor/bootstrap.css">

    <link rel="stylesheet" href="~/Asset/trangchu/vendor/font-awesome.css">
    <link href="~/Asset/trangchu/css/1.css" rel="stylesheet" />
    <link href="~/Asset/dathang/css.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700&amp;display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">


</head>
<body>
    <script>
        $(function () {
            new WOW().init();
        });
    </script>
    <style type="text/css">
        td a .btn :hover {
            transform: scale(1.1);
        }
    </style>
    <header>
        @await Html.PartialAsync("../Shared/_MenuLayout1.cshtml", ViewData);

    </header>
    <main>
        <div class="container ">

            <table id="cart" class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th style="width:50%">Tên sản phẩm</th>
                        <th style="width:10%">Giá</th>
                        <th style="width:8%">Số lượng</th>
                        <th style="width:22%" class="text-center">Thành tiền</th>
                        <th style="width:10%"> </th>
                    </tr>
                </thead>
                <tbody>

                    @if (ViewBag.cart == null)
                    {
                        <tr>
                            <th>
                                @ViewBag.err
                            </th>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in ViewBag.cart)
                        {
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <h6 class="nomargin">@item.Drink.Name</h6>

                                        </div>
                                        <div class="col-sm-2 hidden-xs" style="margin-right:30px">
                                            <img class="img-responsive wow zoomIn" width="100" src="https://localhost:5001/user-content/@item.ImagePath" />

                                        </div>

                                    </div>
                                </td>
                                <td data-th="Price">@item.Drink.UnitPrice</td>
                                <td data-th="Quantity">
                                    <input class="form-control text-center" value="@item.Quantity" type="number">
                                </td>
                                <td data-th="Subtotal" class="text-center">@(item.Quantity * item.Drink.UnitPrice)đ</td>
                                <td class="actions" data-th="">
                                    <a asp-action="edit1" asp-controller="cart" asp-route-id="@item.Drink.Id" class="btn btn-info btn-sm">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <a asp-action="edit2" asp-controller="cart" asp-route-id="@item.Drink.Id" class="btn btn-info btn-sm">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                    <a asp-action="remove" asp-controller="cart" asp-route-id="@item.Drink.Id" class="btn btn-danger btn-sm">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }



                </tbody>
                <tfoot>
                    <tr class="visible-xs">
                        <td class="text-center">
                            @if (ViewBag.total != null)
                            {
                                <strong>Tổng tiền : @ViewBag.total đ</strong>
                            }
                        </td>
                        <td colspan="3">
                            <form asp-controller="cart" asp-action="khuyenmai" method="post" class="p-4">
                                <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
                                <div class="input-group mb-4 border rounded-pill p-2">
                                    @if (ViewBag.km == null)
                                    {
                                        <input type="text" placeholder="Apply coupon" name="maKM" value="" aria-describedby="button-addon3" class="form-control border-0">
                                        <div class="input-group-append border-0">
                                            <i class="fa fa-gift mr-2"></i><input type="submit" value="Apply coupon" id="button-addon3" asp-action="khuyenmai" asp-controller="cart" class="btn btn-dark px-4 rounded-pill">
                                        </div>
                                    }
                                    @if (ViewBag.km != null)
                                    {
                                        <input disabled type="text" placeholder="Apply coupon" name="maKM" value="@ViewBag.km" aria-describedby="button-addon3" class="form-control border-0">
                                        <div class="input-group-append border-0">
                                            <i class="fa fa-gift mr-2"></i><input type="submit" value="Cancel coupon" id="button-addon3" asp-action="cancel" asp-controller="cart" class="btn btn-dark px-4 rounded-pill">
                                        </div>
                                    }

                                </div>
                            </form>
                            @if (ViewBag.Loi != null)
                            {
                                <div id="Alert" class=" alert alert-warning text-center" role="alert">
                                    @ViewBag.Loi
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a asp-action="index" style="color:#ffffff" asp-controller="menu" class="btn btn-warning"> << Tiếp tục mua hàng</a>
                        </td>
                        <td colspan="2" class="hidden-xs">
                        </td>
                        <td class="hidden-xs text-center">
                            @if (ViewBag.total != null)
                            {
                                <strong>Tổng tiền: @ViewBag.total đ </strong>
                            }


                        </td>


                        <td>
                            <section class="  wow shake   " data-wow-iteration="2">  <a  class="btn btn-success" asp-action="index" asp-controller="dathang">Thanh toán <i class="fa fa-angle-right"></i></a></section>
                        </td>
                    </tr>

                </tfoot>
            </table>
            @if (ViewBag.sucsess == "true")
            {
                <div id="msg" class=" alert alert-success text-center" role="alert">
                    Đặt hàng thành công
                </div>

            }
            else if (ViewBag.sucsess == "false")
            {
                <div id="msgAlert" class=" alert alert-danger text-center" role="alert">
                    Đặt hàng thất bại
                </div>

            }
            else
            {
                <strong class="alert-success"> </strong>

            }
        </div>



    </main>
    <footer>
        <div class="nenden">
            <div class="container ">

                <div class="row footer1 ">
                    <div class="col-xs-2 wow flip">
                        <img src="https://localhost:5001/user-content/HomeCoffee.png" alt="" class="img-thumbnail">
                    </div>
                    <div class="col-xs-3 wow fadeInUp">
                        <h2>Địa chỉ:</h2>
                        <p> <i class=" fa fa-map-marker">  Kí túc xá khu B, Đông Hòa, Dĩ An, Bình Dướng</i></p>
                    </div>
                    <div class="col-xs-3 wow fadeInUp">
                        <h2> Liên hệ:</h2>

                        <p>  <i class="fa fa-envelop"> Email: homecoffee@gmail.com</i></p>
                        <p> <i class=" fa fa-phone"> Phone: 0326837276</i></p>
                    </div>
                    <div class="col-xs-3 text-center wow fadeInUp">
                        <h2> Về chúng tôi:</h2>

                        <p>  Điều khoản và điều kiện</p>
                        <p> Chính sách bảo mật</p>
                    </div>

                </div>
                <hr>
                <div class="row footer2">
                    <div class="col-xs-3">

                    </div>
                    <div class="col-xs-6">
                        <h6> <small>Copyright © 2019 Home Coffee. All rights reserved.</small></h6>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script>
        setTimeout(function () {
            $(".alert").fadeOut('slow')
        }, 2000);
    </script>
</body>
</html>