@model IEnumerable<CoffeeStoreAspCore.ViewModels.Menu.MenuViewModel>
@using CoffeeStoreAspCore.Data.Enums
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
{
    <script>
        setTimeout(function () {
            $("#msgAlert").fadeOut('slow')
        }, 2000);
    </script>
}
<div class="container-fluid ">
    <div class="card mb-4 mt-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Menu</div>
        <div class="card-body">


            <div class="table-responsive">

                <p>
                    <a class="btn btn-info  wow slideInRight" asp-action="Create"> <i class="fa fa-plus-circle" style="color:#0dc744"></i> Create New</a>
                </p>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        @if (ViewBag.mgs != null)
                        {
                            <div id="msgAlert" class=" alert alert-success text-center" role="alert">
                                @ViewBag.mgs
                            </div>
                        }
                    </div>

                    <div class="col-md-3"></div>

                </div>
                <table class="table table-bordered" id="" width="100%" cellspacing="0">
                    <thead style=" background:#ffd800">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th> Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="wow fadeIn">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="wow fadeIn">
                                    <a class="btn btn-success  wow slideInRight" asp-action="Edit" asp-route-id="@item.Id"> <i class="fas fa-edit" style="color:#00ff21"></i> Edit</a>

                                </td>
                                <td>
                                    <a class="btn btn-danger  wow slideInRight" asp-action="Delete" asp-route-id="@item.Id" asp-route-Status="@Status.InActive"> <i class="fas fa-trash-alt" style="color:#ffffff"></i> Delete </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
